{% extends 'base.html.twig' %}

{# {% block title %}Js info - Anfallnorr/FileManagerSystem{% endblock %} #}

{% block body %}
	<div class="container">

		<div class="row mb-3">
			<div class="col">
				{{ form(folder_form) }}
			</div>
		</div>

		<div class="row">
			<div class="col">
				{{ form(file_form) }}
			</div>
		</div>

		<div id="files_zone" class="card mt-5 mb-3">
			<div class="card-body">

				<div id="data_breadcrumb" class="mb-3">
					<ol class="breadcrumb _d-none _d-lg-flex d-flex">
						<li class="breadcrumb-item">
							<i class="bi bi-house lh-1"></i>
							<a href="{{ path('app_file_manager') }}" class="text-decoration-none">My documents</a>
						</li>
						
						{% for item in breadcrumb %}
							{% set breadcrumb_link = breadcrumb_link ~ '/' ~ item %}
							{% if loop.last %}
								<li class="breadcrumb-item" aria-current="page">
									<span>{{ item }}</span>
								</li>
							{% else %}
								<li class="breadcrumb-item">
									<a href="{{ path('app_file_manager', {'folder': breadcrumb_link | trim('/')}) }}">{{ item }}</a>
								</li>
							{% endif %}
						{% endfor %}
					</ol>
				</div>
				<div class="d-flex flex-sm-row flex-column mb-3">
					<div class="btn-group">
						<a href="#" type="button" class="btn btn-primary px-sm-5" data-bs-toggle="modal" data-bs-target="#modal_go_to" title="Aller à">Go To</a>
					</div>
					<div class="btn-group ms-0 ms-sm-auto mt-1 mt-sm-0">
						<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" title="Bulk action">Bulk action</button>
						<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
							<a href="#" class="dropdown-item massdownload-item" data-bs-toggle="modal" data-bs-target="#modal_download" title="Download the selection" context="massDownload">Download the selection</a>
							<a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal_mass_move" title="Move selection" context="massMove">Move selection</a>
							<a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal_mass_renamer" title="Rename selection" context="massRename">Rename selection</a>
							<div class="dropdown-divider"></div>
							<div class="dropdown-item">
								<form action="{{ path('app_file_manager_mass_delete_folder', {'folder': current_folder}) }}" method="post" class="d-inline">
									<input type="hidden" name="_method" value="DELETE" />
									<input type="hidden" name="foldersToDelete" value="[]" />
									<input type="hidden" name="filesToDelete" value="[]" />
									<button type="submit" class="dropdown-item delete-item p-0" title="Delete selection" onclick="return confirm('Do you really want to delete these items?');" context="massDelete">
										Delete selection
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>

				<hr class="my-3" />

				<div id="data_folders-list" class="mb-5">
					<!-- Row start -->
					<div class="row gx-3">

						{% for folder in folders %}
							{% set folder_link = path('app_file_manager', {'folder': (current_folder ? current_folder ~ '/' : '') ~ folder.foldername | url_encode}) %}
							{# {{ dump(scandir(folder.absolute)) }} #}
							<div class="col-12 col-sm-6 col-lg-4 task task-folders mb-3" data-dirsearch="{{ folder.foldername }}">
								<div class="card shadow-none border radius-15 droptarget draggable mobile-draggable dragenter dragleave selectable" draggable="true" selectable="false">
									<div class="card-body">
										<div class="d-flex align-items-center">
											<a href="{{ folder_link }}" class="icon-box radius-15 text-decoration-none" title="{{ folder.foldername }}">&#x1F4C1;</a>
											<div class="ms-auto _fs-22">
												<div class="row">
													<div class="col-7">
														<button class="btn btn-primary _text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false" title="Menu {{ folder.foldername }}" aria-label="Menu {{ folder.foldername }}">
															&Xi;
														</button>
														<ul class="dropdown-menu dropdown-folder">
															<li><a href="#" class="dropdown-item download-item" data-url="?action=download" data-bs-toggle="modal" data-bs-target="#modal_download" title="Download {{ folder.foldername }}" context="download">Download</a></li>
															<li><a href="#" class="dropdown-item compress-item" data-url="?action=archive" data-bs-toggle="modal" data-bs-target="#modal_compress" title="Compress {{ folder.foldername }}" context="zip">Zip</a></li>
															<li><a href="#" class="dropdown-item share-item" data-filetarget="{{ folder.foldername }}" data-bs-toggle="modal" data-bs-target="#modal_share" title="Share {{ folder.foldername }}" context="share">Share</a></li>
															<li><a href="#" class="dropdown-item move-item" data-bs-toggle="modal" data-bs-target="#modal_move_file{# _{{ loop.index }} #}" data-name="{{ folder.foldername }}" title="Move {{ folder.foldername }}" context="move">Move</a></li>
															<li><a href="#" class="dropdown-item rename-item" data-bs-toggle="modal" data-bs-target="#modal_rename_{{ loop.index }}" title="Rename {{ folder.foldername }}" context="rename">Rename</a></li>
															<li><div class="dropdown-divider mb-1"></div></li>
															<li>
																<form action="{{ path('app_file_manager_delete_folder', {'dirname': folder.foldername, 'folder': current_folder}) }}" method="post" class="d-inline">
																	<input type="hidden" name="_method" value="DELETE" />
																	<button type="submit" class="dropdown-item delete-item" title="{{ 'user.folders.delete' | trans({}, 'pages') }}" onclick="return confirm('Delete {{ folder.foldername }} ?');" title="Delete {{ folder.foldername }}" context="delete">
																		Delete
																	</button>
																</form>
															</li>
														</ul>
													</div>
													<div class="col-5">
														<div class="form-check">
															<label class="form-check-label right-checkbox">
																<input type="checkbox" name="select_file[dir][]" value="{{ folder.foldername }}" data-type="dir" class="form-check-input fs-22 md-checkbox" aria-label="{{ folder.foldername }}" />
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="d-flex align-items-center">
											<div class="_user-groups">
												<h6 class="mb-1 mt-3"><a href="{{ folder_link }}">{{ folder.foldername }}</a></h6>
												<small><a href="{{ folder_link }}"><span class="folder-counter">{{ listDirs(folder.absolute) | length }}</span> directory / <span class="file-counter">{{ listFiles(folder.absolute) | length }}</span> files</a></small>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="modal fade" id="modal_rename_{{ loop.index }}" tabindex="-1" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Rename {{ folder.foldername }}</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<div class="block-form d-none">
												<input name="dir_renamer[path][]" type="hidden" id="dir_renamer_path_{{ loop.index }}" value="{{ folder.relative }}" />
											</div>
											<div class="col-md-12">
												<label for="dir_renamer_{{ loop.index }}" class="form-label">Rename a folder</label>
												<input name="dir_renamer[dir][]" type="text" id="dir_renamer_{{ loop.index }}" class="form-control" placeholder="{{ folder.foldername }}" aria-label="{{ folder.foldername }}" data-value="{{ folder.foldername }}" autocomplete="off" value="" />
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
											<button type="submit" class="btn btn-success">Rename</button>
										</div>
									</div>
								</div>
							</div>

							{# <div class="modal fade" id="modal_move_{{ loop.index }}" tabindex="-1" aria-hidden="true">
								<div class="modal-dialog modal-dialog-scrollable modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Move {{ folder.foldername }}</h5>
											<button type="button" role="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body text-end">
											<p class="text-start">Select a folder:</p>
											<div _class="radio radio-success btn btn-primary my-1 wp-100 tree-before-0 mb-3 text-start">
												<label class="radio radio-success btn btn-primary my-1 wp-100 tree-before-0 mb-3 text-start" _for="dir_move">
													<input type="radio" name="dir_move[old_path][]" id="{{ loop.index }}_old_path" class="double-check md-radio old_path _d-none" value="{{ folder.relative }}" />
													<input type="radio" name="dir_move[new_path][]" id="{{ loop.index }}_new_path" class="double-check md-radio new_path" value="/" />
													My documents
												</label>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
											<button type="submit" class="btn btn-success">Move</button>
										</div>
									</div>
								</div>
							</div> #}
						{% endfor %}

					</div>
					<!-- Row end -->
				</div>


				<div id="data_files-list">
					{# {{ form(move_file_form) }} #}

					<div class="table-responsive">
						<table class="table align-middle table-hover m-0">
							<thead>
								<tr>
									<th scope="col" width="5%" class="text-center">
										<div class="form-check">
											<label class="form-check-label right-checkbox">
												<input id="check_all" type="checkbox" name="select_file[]" class="form-check-input font-22" aria-label="Select all">
											</label>
										</div>
									</th>
									<th scope="col" width="15%">Image</th>
									<th scope="col" width="35%">Name</th>
									<th scope="col" width="10%">Dimensions</th>
									<th scope="col" width="10%">Weight</th>
									<th scope="col" width="15%">Date added</th>
									<th scope="col" width="10%" class="text-center">Actions</th>
								</tr>
							</thead>
							<tbody>
								{% if files is empty %}
									<tr>
										<td colspan="7" class="text-center"><h5>Aucun fichiers</h5></td>
									</tr>
								{% else %}
									{{ dump(files) }}
									{% for file in files %}
										{# {% set src_file = path('app_file_manager_serve', { 'filename': file.filename, 'folder': current_folder }) %} #}
										{# {% set src_file = asset('uploads/' ~ file.filename) %} #}
										
										<tr>
											<th scope="row" class="text-center">
												<div class="form-check">
													<label class="form-check-label right-checkbox">
														<input type="checkbox" name="select_file[]" value="{{ file.filename }}" class="form-check-input font-22 md-checkbox" aria-label="{{ file.filename }}">
													</label>
												</div>
											</th>
											<td class="image">
												{% if file.dimensions.width or file.dimensions.height %}
													{# <img loading="lazy" src="{{ src_file }}" alt="{{ file.filename }}" class="img-fluid img-thumbnail rounded-2" width="100" height="100" /> #}
													{# <img loading="lazy" src="{{ asset('uploads/' ~ file.filename) }}" alt="{{ file.filename }}" class="img-fluid img-thumbnail rounded-2" width="100" height="100" /> #}
													{# <img loading="lazy" src="{{ asset('uploads' ~ file.relative) }}" alt="{{ file.filename }}" class="img-fluid img-thumbnail rounded-2" width="100" height="100" /> #}
													<img loading="lazy" src="{{ asset(file.relative) }}" alt="{{ file.filename }}" class="img-fluid img-thumbnail rounded-2" width="100" height="100" />
												{% else %}
													Fichier <strong>{{ file.extension }}</strong>
												{% endif %}
											</td>
											<td class="filename">{{ file.filename }}</td>
											<td class="dimensions">
												{% if file.dimensions.width or file.dimensions.height %}
													{{ file.dimensions.width ~ ' x ' ~ file.dimensions.height }}
												{% else %}
													--
												{% endif %}
											</td>
											<td class="size">{{ file.filesize }}</td>
											<td class="last-modified-date">{{ file.filemtime | date("d/m/Y H:i") }}</td>
											<td class="text-center">
												<div class="menu-settings menu-settings-options">
													<button class="_dropdown-toggle btn btn-primary w-100 _py-0 px-2" type="button" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="{{ file.filename }}" aria-label="Action">
														&Xi;
													</button>
													<ul class="dropdown-menu dropdown-menu-end dropdown-file pl-5" _data-popper-placement="bottom-start">
														<li class="mb-1">
															<a href="#{# {{ path('services.product.copy', {'filename': dive.filename}) }} #}" class="dropdown-item download-item" title="Download {{ file.filename }}" context="download">
																Download
															</a>
														</li>
														{# <li class="my-1">
															<a href="#" class="dropdown-item share-item" data-filetarget="{{ file.filename }}" data-bs-toggle="modal" data-bs-target="#modal_share" title="Share {{ file.filename }}" context="share">
																Share
															</a>
														</li> #}
														<li class="my-1">
															<a href="#" class="dropdown-item move-item" data-bs-toggle="modal" data-bs-target="#modal_move_file{# _{{ loop.index }} #}" data-name="{{ file.filename }}" title="Move {{ file.filename }}" context="move">
																Move
															</a>
														</li>
														<li class="my-1">
															<a href="#" class="dropdown-item rename-item" data-bs-toggle="modal" data-bs-target="#modal_rename_file_{{ loop.index }}" title="Rename {{ file.filename }}" context="rename">
																Rename
															</a>
														</li>
														{% if file.dimensions.width or file.dimensions.height %}
															<li class="my-1">
																<a href="#" class="dropdown-item insight-item" data-bs-toggle="modal" data-bs-target="#modal_viewer" title="Preview de {{ file.filename }}" context="insight" data-insight-path="/1234.png" data-path="L3VwbG9hZHMvZGF0YXMvYzRjYTQyMzhhMGI5MjM4MjBkY2M1MDlhNmY3NTg0OWItMQ==" data-filename="{{ file.filename }}" data-ext="png">
																	Crop
																</a>
															</li>
														{% endif %}
														<li><div class="dropdown-divider my-0"></div></li>
														{# <li class="my-1">
															<a href="#" class="dropdown-item insight-item" data-bs-toggle="modal" data-bs-target="#modal_viewer" title="Preview de {{ file.filename }}" context="insight" data-insight-path="/1234.png" data-path="L3VwbG9hZHMvZGF0YXMvYzRjYTQyMzhhMGI5MjM4MjBkY2M1MDlhNmY3NTg0OWItMQ==" data-filename="{{ file.filename }}" data-ext="png">
																Preview
															</a>
														</li>
														<li><div class="dropdown-divider my-0"></div></li> #}
														<li class="mt-1">
															<form action="{{ path('app_file_manager_delete_file', {'filename': file.filename, 'folder': current_folder}) }}" method="post" class="d-inline">
																<input type="hidden" name="_method" value="DELETE" />
																<button type="submit" class="dropdown-item delete-item" title="Delete" onclick="return confirm('Delete {{ file.filename }} ?');" title="Delete {{ file.filename }}" context="delete">Delete</button>
															</form>
														</li>
													</ul>
												</div>
											</td>
										</tr>
										{# <div class="modal fade" id="modal_move_file_{{ loop.index }}" tabindex="-1" aria-labelledby="modal_move_file_{{ loop.index }}Label" aria-hidden="true">
											<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title h4" id="modal_move_file_{{ loop.index }}Label">Move {{ file.filename }}</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<div class="modal-body">
														<a href="{{ path('app_file_manager') }}" class="btn btn-success d-flex justify-content-between align-items-center mb-2" title="My documents">
															<span>My documents</span><span class="float-end badge bg-light rounded-pill">5</span>
														</a> #}
														{# {{ dump(allFolders) }} #}
														{# {% for all_folder in allFolders %}
															{{ dump(all_folder.relative) }} #}
															{# {{ dump(number_of_folders_from_root) }} #}
															{# {% set exploFile = all_folder.relative | split('/') %}
															{% set sliceFile = exploFile | slice(number_of_folders_from_root) %}
															{% set choseFile = exploFile | last %}

															{% if choseFile == personnalFolder %}
																{% set choseFile = langs.lang("DATA_FILES_LIST_MY_DOCUMENTS", "datas") %}
															{% endif %}

															<div class="radio radio-success btn btn-light my-1 wp-{{ 100 - ((sliceFile|length - 1) * 5) }} tree-before-{{ (sliceFile|length - 1) * 5 }} text-start">
																<label>
																	<input type="radio" name="file_move[old_path][]" id="{{ modal ~ '_old_path_' ~ choseFile }}" class="double-check md-radio old_path d-none" value="{{ folderPath ~ '/' ~ file }}" />
																	<input type="radio" name="file_move[new_path][]" id="{{ modal ~ '_new_path_' ~ choseFile }}" class="double-check md-radio new_path" value="/{{ sliceFile|join('/') ~ '/' ~ file }}" />
																	{{ choseFile }}
																</label>
															</div> #}
														{# {% endfor %} #}
													{# </div>
													<div class="modal-footer">
														<button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
														<button type="button" class="btn btn-primary">Move</button>
													</div>
												</div>
											</div>
										</div> #}
										<div class="modal fade" id="modal_rename_file_{{ loop.index }}" tabindex="-1" aria-labelledby="modal_rename_file_{{ loop.index }}Label" aria-hidden="true">
											<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title h4" id="modal_rename_file_{{ loop.index }}Label">Rename {{ file.filename }}</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<div class="modal-body">...</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
														<button type="button" class="btn btn-primary">Rename</button>
													</div>
												</div>
											</div>
										</div>
									{# {{ form(move_file_forms[loop.index]) }} #}
									{% endfor %}
								{% endif %}
							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>

	</div>


	<div class="modal fade" id="modal_move_file" tabindex="-1" aria-labelledby="modal_move_file_label" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title h4" id="modal_move_file_label">Move <span id="filename">file.ext or direname</span></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<a href="{{ path('app_file_manager') }}" class="btn btn-success d-flex justify-content-between align-items-center mb-2" title="My documents">
						<span>My documents</span><span class="float-end badge bg-light rounded-pill">5</span>
					</a>
					{{ form_start(move_file_form) }}
						{{ form_row(move_file_form.newPath) }}
						{{ form_row(move_file_form.submit) }}
					{{ form_end(move_file_form) }}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary">Move</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal_viewer" tabindex="-1" aria-labelledby="modal_viewer_label" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title h4" id="modal_viewer_label">Preview</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">...</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal_go_to" tabindex="-1" aria-labelledby="modal_go_to_label" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modal_go_to_label">Choisir la déstination</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body text-end">
					{# {{ dump(allFolders) }} #}
					<a href="{{ path('app_file_manager') }}" class="btn btn-success d-flex justify-content-between align-items-center mb-2" title="Mes dossiers">
						<span><i class="bi bi-folder me-2"></i>My documents</span><span class="float-end badge bg-light rounded-pill">5</span>
					</a>
					{% for all_folder in allFolders %}
						{% set link_folder = path('app_file_manager', {'folder': all_folder.ltrimed_relative | raw}) %}
						<a href="{{ link_folder }}" class="btn btn-primary d-flex justify-content-between align-items-center my-1 _wp-100 _tree-before-0 _text-start _d-block" title="{{ all_folder.relative }}">
							<span><i class="bi bi-folder me-2"></i>{{ all_folder.foldername }}</span><span class="float-end badge bg-light rounded-pill">5</span>
						</a>
					{% endfor %}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
